<script type="text/template" id='people-template'>
  <li><strong>Name:</strong> <%%= name %>; <em>Hobby:</em> <%%= hobby %></li>
</script>

<h1>People API</h1>
<h3>List of notable persons</h3>
<hr>

<ul id='people-list'>
  <!-- backbone collection will fill this $el -->
</ul>
